header {
    position: relative;
    padding: 20px 0;
    padding-bottom: 0;
}

header h1 {
    text-align: center;
}

.header-right {
    display: flex;
    position: absolute;
    top: 25px;
    right: 5%;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 90%;
    min-width: 600px;
}

nav li {
    float: left;
    width: 20%;
}

nav li a {
  display: block;
  color: whitesmoke;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
}

.nav-hover-dark :hover {
    background-color: #202020;
    color: whitesmoke;
}

.nav-active-dark {
    background-color: #111111;
    border: 1px solid #515151
}

.nav-link-dark {
    background-color: #404040;
    border: 1px solid #808080;
}

.nav-hover-light :hover {
    background-color: #2847cf;
    color: whitesmoke;
}

.nav-active-light {
    background-color: #3030ff;
    border: 2px solid #5966f0;
}

.nav-link-light {
    background-color: #2e55ff;
    border: 2px solid #4ea5ff;
}

.my-portfolio-container{
    display: flex;
    gap: 40px;
    width: 90%;
    min-width: 600px;
    min-height: 550px;
    box-sizing: border-box;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
    flex-direction: row; 
}

.container-dark {
    background-color: #323232;
    box-shadow: 
        5px 54px 5px #202020, 
        5px -54px 5px #202020,
        -5px 54px 5px #202020,
        -5px -54px 5px #202020;
}

.container-light {
    background-color: #d2d2d2;
    box-shadow: 
        5px 54px 5px #c0c0c0,
        5px -54px 5px #c0c0c0,
        -5px 54px 5px #c0c0c0,
        -5px -54px 5px #c0c0c0;
}

.DAP-Picture {
    height: 350px; 
    width: auto;
    padding-right: 20px;
    padding-top: 20px;
}

.co-certification {
    flex: 1;
    padding: 20px;
}

.certification-picture {
    padding-right: 50px;
    display: inline-block;
    margin-top: 20px;
}

.certification-picture img {
    height: 270px;
    width: auto;
    border: 5px solid black;
    border-radius: 5px;
}

.bold {
    font-weight: bold;
}

.co-about{
    flex: 1;
    padding: 20px;
}

.co-life{
    flex: 1;
    padding: 20px;
}

.co-work{
    flex: 1;
    padding: 20px;
}

.co-lang{
    flex: 2;
}

.co-skills{
    flex: 1;
    padding: 20px;
    padding-top: 7px;
}

.co-contact{
    flex: 1;
    padding: 20px;
    padding-top: 7px;
}

footer h4{
    text-align: center;
}

.co-projects {
    flex: 1;
}

figure a {
    text-decoration: none;
}

.project-dark {
    background-color: #606060;
    border: 3px solid black;
    box-shadow: 5px 3px 3px #505050;
}

.project-dark a {
    color: whitesmoke;
}

.project-dark p {
    color: #d0d0d0;
}

.project-dark a:hover {
    color: #e0e0e0;
}

.project-light {
    background-color: #c3c3c3;
    border: 3px solid gray;
    box-shadow: 5px 3px 3px #a3a3a3;
}

.project-light a {
    color: #303030
}

.project-light p {
    color: #656565;
}

.project-light a:hover {
    color: #202020;
}

.project {
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    transform: 3s;
    display: inline-block;
    margin: 30px;
}

.project:hover {
    scale: 1.05;
}

.project-picture {
    width: 100%;
    border-radius: 10px;
}