header {
    position: relative;
    padding: 20px 0;
    padding-bottom: 0;
}

header h1 {
    text-align: center;
}

.header-right {
    display: flex;
    position: absolute;
    top: 25px;
    right: 5%;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    max-width: 1400px;
    width: 90%;
}

nav li {
    float: left;
    width: 25%;
}

nav li a {
  display: block;
  color: whitesmoke;
  font-size: 2em;
  text-align: center;
  text-decoration: none;
}

.nav-hover-dark :hover {
    background-color: #202020;
    color: whitesmoke;
}

.nav-active-dark {
    background-color: #111111;
    border: 1px solid #515151
}

.nav-link-dark {
    background-color: #404040;
    border: 1px solid #808080;
}

.nav-hover-light :hover {
    background-color: #2847cf;
    color: whitesmoke;
}

.nav-active-light {background-color: #3030ff;}

.nav-link-light {background-color: #2e55ff;}

.my-portfolio-container{
    display: flex;
    gap: 40px;
    max-width: 1400px;
    box-sizing: border-box;
    width: 90%;
    margin: auto;
    padding: 20px;
    flex-wrap: wrap;
}

.container-dark {
    background-color: #323232;
    box-shadow: 
        5px 54px 5px #202020, 
        5px -54px 5px #202020,
        -5px 54px 5px #202020,
        -5px -54px 5px #202020;
}

.container-light {
    background-color: #d2d2d2;
    box-shadow: 
        5px 54px 5px #c0c0c0,
        5px -54px 5px #c0c0c0,
        -5px 54px 5px #c0c0c0,
        -5px -54px 5px #c0c0c0;
}

.DAP-Picture {
    height: 350px; 
    width: auto;
    padding-right: 20px;
    padding-top: 20px;
}

.co-certification {
    flex: 1;
    padding: 20px;
}

.certification-picture {
    padding-right: 50px;
    display: inline-block;
}

.certification-picture img {
    height: 270px;
    width: auto;
}

.bold {
    font-weight: bold;
}

.co-about{
    flex: 1;
    padding: 20px;
}

.co-life{
    flex: 1;
    padding: 20px;
}

.co-work{
    flex: 1;
    padding: 20px;
}

.co-lang{
    flex: 2;
}

.co-skills{
    flex: 1;
    padding: 20px;
    padding-top: 7px;
}

.co-contact{
    flex: 1;
    padding: 20px;
    padding-top: 7px;
}

footer h4{
    text-align: center;
}
